.nav-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 5vmin auto 0;
  width: 50vmin;
}
.nav-container > div a {
  text-decoration: none;
  color: #222;
  font-family: Roboto, Arial, sans-serif;
  font-size: 30px;
}
.menu:hover a {
  color: #ccac00;
  text-decoration: underline;
}
